@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  /* Theme Color Variables */
  --color-oxford-navy: #2C4A6F;
  --color-oxford-navy-hover: #1B324F;
  --color-fluid-slate: #F3F7FA;
  --color-terminal-charcoal: #1F2937;}